<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.myblogsystem.mapper.BlogCommentMapper">
    <sql id="Second_Base_Column_List">
        id,first_id,user_id,reply_user_id,
        content,update_time,deleted,type
    </sql>
    
    <resultMap id="commentDetail" type="com.blog.myblogsystem.pojo.vo.BlogNewCommentVO">
        <result property="id" column="id"/>
        <result property="articleId" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="updateTime" column="update_time"/>
        <association property="userInfo" javaType="com.blog.myblogsystem.pojo.dto.UserInfoDTO">
            <result property="id" column="user_id"/>
            <result property="userid" column="userid"/>
            <result property="name" column="name"/>
            <result property="email" column="email"/>
            <result property="avatar" column="avatar"/>
        </association>
    </resultMap>

    <select id="getFirstCommentByArticleId" parameterType="integer" resultType="blogCommentVO">
        select id,user_id,content,update_time
        from `blog_comment_first`
        where deleted = 0 and article_id = #{id}
    </select>

    <select id="getSecondCommentByFirstId" parameterType="integer" resultType="blogSecondCommentVO">
        select <include refid="Second_Base_Column_List"></include>
        from `blog_comment_second`
        where deleted = 0 and first_id = #{id}
    </select>

    <select id="listNewComment" resultType="blogNewCommentVO">
        select A.id,A.article_id,B.title,A.user_id,A.content,A.update_time,C.userid,C.name,C.email,C.avatar
        from `blog_comment_first` as A,`blog_body` as B,`user_info` as C
        where A.deleted = 0 and A.article_id = B.id and A.user_id = C.id
        limit 5
    </select>

    <select id="listNewComment2" resultMap="commentDetail">
        select A.id,A.article_id,B.title,A.user_id,A.content,A.update_time,C.userid,C.name,C.email,C.avatar
        from `blog_comment_first` as A,`blog_body` as B,`user_info` as C
        where A.deleted = 0 and A.article_id = B.id and A.user_id = C.id
            limit 5
    </select>

    <select id="listFirstComent" resultType="blogCommentManageVO">
        SELECT A.id,A.user_id,B.`name`,A.content,C.id as body_id,C.content_id as article_id ,C.title
        FROM `blog_comment_first` as A,`user_info` as B,`blog_body` as C
        where A.user_id = B.id and A.article_id = C.id and A.deleted = 0
        ORDER BY id DESC
    </select>

    <select id="listSecondCommentByFirstId" resultType="blogCommentManageVO" parameterType="integer">
        SELECT A.id,A.user_id,B.`name`,A.content
        FROM `blog_comment_second` as A,`user_info` as B
        where A.user_id = B.id and A.first_id = #{id} and A.deleted = 0
        ORDER BY id DESC
    </select>
</mapper>