@font-face {
  font-family: "iconfont"; /* Project id 3563229 */
  src: url('iconfont.woff2?t=1659441057956') format('woff2'),
       url('iconfont.woff?t=1659441057956') format('woff'),
       url('iconfont.ttf?t=1659441057956') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kafei:before {
  content: "\e60a";
}

